// ---------------------------------------------- Variables

$mainColor: #bada55; //change
$secColor: white; //change




// ---------------------------------------------- Mixins
@mixin font-stack-headers {
	font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $mainColor;
}
@mixin font-stack-body {
	font: 1.2em/1.6 source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body { @include font-stack-body; }
h1, h2, h3, h4, h5, h6 { @include font-stack-headers; }
 
 
// ---------------------------------------------- Media Quries -- Used @include breakpoint(NAMEOFQUERY)

@mixin breakpoint($media) {
  @if $media == big {
    @media only screen and (min-width: 1200px) { @content; }
  }
  @else if $media == med {
    @media only screen and (min-width: 992px) { @content; }
  }
  @else if $media == small {
    @media only screen and (min-width: 768px) { @content; }
  }
}

// retina.scss
// Defaults to png but can be overwritten to jpg or gif
//$image name is equal to the image name with out it's extention - 'example.png' would be defined as 'example'
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
  background-image: image_url($image_name + $extention);
  $x2img : $image_name + '@2x' + $extention;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: image_url($x2img);
    background-size: $w $h;
  }  
}
